@charset "UTF-8";
.body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Утилиты */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

.project-item {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.team__title, .product__title, .clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 00.03em;
}

.hero__button, .form-button, .footer__form-button {
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.team__social-link, .clients__link, .footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  border-radius: 50%;
}

.header__logo {
  display: inline-block;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .header__logo {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo-first,
.footer__logo-first {
  color: #2196f3;
}

.header__logo-second {
  color: #212121;
}

.footer__logo-second {
  color: #ffffff;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header__list {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-close {
  display: none;
}

.menu-button.js-open-menu .menu-icon {
  display: none;
}

.menu-button.js-open-menu .icon-close {
  display: block;
}

.header__mob-menu {
  border: 1px solid red;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__mob-menu {
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 767px) {
  .header__mob-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__mob-menu.is-open {
  display: block;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--footer-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-480px.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-480px.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-768px.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-768px.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero__box {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__box {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  min-width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale 1.1;
          transform: translate(-50%, -50%) scale 1.1;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.close {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
}

.close:hover, .close:focus {
  background-color: #2196f3;
  fill: #eeeeee;
}

.button-modal {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: white;
  padding: 0;
  border: none;
}

.button-modal:hover, .button-modal:focus {
  background-color: white;
}

.modal-title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.form-field {
  position: relative;
  /* outline: 1px solid seagreen; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 12px;
  margin-bottom: 11px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-field:focus-within > .form-input {
  border: 1px solid #2196f3;
  outline: 0;
  outline-offset: 0;
}

.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > .comment {
  border: 1px solid #2196f3;
  outline: 0;
  outline-offset: 0;
}

.checkbox-input {
  /* appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  margin-bottom: 30px;
}

.icon-check {
  display: block;
  width: 10px;
  height: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox-input:checked + .icon-check {
  background-color: #2196f3;
  background-image: url(../images/icon-check-2.svg);
  background-size: contain;
  background-origin: content-box;
  border: 2px solid #2196f3;
}

.form-button {
  display: block;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
}

.advantage {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 94px;
  margin-bottom: 106px;
}

@media screen and (max-width: 1199px) {
  .advantage {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.advantage__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.advantage__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  padding-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .team__title {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 0px;
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team__member {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  padding-top: 30px;
}

.team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
}

.team__item {
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .team__item {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .team__box {
    padding-left: 122px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 768px) {
  .team__box {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__social-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}

.team__social-logo {
  width: 20px;
  height: 20px;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .product {
    display: none;
  }
}

.product {
  padding-top: 0;
  padding-bottom: 94px;
}

.product__title {
  padding-bottom: 50px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item {
  position: relative;
}

.product__item + .product__item {
  margin-left: 30px;
}

.product__name {
  position: absolute;
  width: 100%;
  display: inline-block;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  bottom: 0;
  right: 0;
}

.product__text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    margin-bottom: 60px;
  }
}

.footer__logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.footer__logo-first {
  color: #2196f3;
}

.footer__contacts {
  margin-top: 20px;
}

.footer__adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress:focus, .footer__adress:hover {
  color: #2196f3;
}

.footer__map {
  color: rgba(255, 255, 255, 0.6);
}

.footer__map:focus, .footer__map:hover {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .footer__social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer__social-title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer__form-title {
  display: block;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #757575;
  padding-left: 15px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.footer__form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
}
/*# sourceMappingURL=main.css.map */