$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$footer-color: #2f303a;
$primary-white-color: #ffffff;
$secondary-background-color: #f5f4fa;

.body {
  font-family: Roboto, sans-serif;
  color: $primary-text-color;
  background-color: $primary-background-color;
  letter-spacing: 0.03em;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  margin-top: 0;
  margin-bottom: 0;
}

/* Утилиты */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
}
textarea {
  resize: none;
}
.link {
  text-decoration: none;
}

.project-item {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
