.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and(min-width:768px) {
      margin-left: 93px;
      display: flex;
    }
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-close {
  display: none;
}

.menu-button.js-open-menu .menu-icon {
  display: none;
}
.menu-button.js-open-menu .icon-close {
  display: block;
}
.header__mob-menu {
  border: 1px solid red;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $primary-white-color;
  }
  @media screen and (min-width: 767px) {
    display: flex;
  }
  &.is-open {
    display: block;
  }
}
